body {
    margin: 0;

    background-color: rgb(245, 245, 245);

    font-family: "Droid Serif", serif;
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 200px;

    background-color: rgb(0, 0, 0);
    cursor: pointer;

    color: rgb(255, 255, 255);
    font-family: "Droid Serif", serif;
    font-size: 16px;
}

button:hover {
    background-color: rgb(105, 105, 105);
}

header {
    position: relative;

    padding: 10px;

    background-color: rgb(0, 0, 0);

    color: rgb(255, 255, 255);
    text-align: center;
}

input[type="file"] {
    display: none;
}
